### Importing all necessary libraries

In [1]:
from ipynb.fs.defs.pratilipi_prediction_utils import get_dataframe
from ipynb.fs.defs.pratilipi_prediction_utils import process_data
from ipynb.fs.defs.pratilipi_prediction_utils import fit
from ipynb.fs.defs.pratilipi_prediction_utils import predict_and_evaluate

C:\ProgramData\Anaconda3\lib\site-packages\scipy\__init__.py:138: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.23.3)
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion} is required for this version of "

### Loading all CSVs

In [18]:
user_data = get_dataframe("./data/user-interactions.csv")
metadata = get_dataframe("./data/metadata.csv")

### Processing the data

In [3]:
train_pivot, train_sparse, test_data, complete_data, metadata, user_data = process_data(
    user_data, metadata
)

converting columns to datetime
---------------------------------------
sorting dataframe according to date
---------------------------------------
cleaning up user data
---------------------------------------
dropping duplicate pratilipi ids from metadata
dropping updated_at column from metadata
---------------------------------------
merging user data and metadata on pratilipi_id
---------------------------------------
dropping duplicates on complete data
---------------------------------------
sorting complete data according to date
---------------------------------------
splitting train and test data
---------------------------------------

,user_id,pratilipi_id,read_percent,updated_at,category_name
0,5506791964450228,1377786228203072,100.0,2022-03-18 15:14:41.771,swahindi2
1,5506791972010795,1377786228217647,99.0,2022-03-18 15:14:42.081,swahindi2
2,5506791980439899,1377786228150074,100.0,2022-03-18 15:14:42.120,suspense
3,5506791950653936,1377786215559645,75.0,2022-03-18 15:14:42.122,shortstories
4,5506791979182708,1377786218415632,100.0,2022-03-18 15:14:42.134,romance

encoding labels
---------------------------------------

C:\Users\Aryamaan\Internship Tasks\Pratilipi\ds-assignment\pratilipi_prediction_utils.ipynb:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  "def _user_cleanup(data, user_column_name=\"user_id\", threshold=10):\n",

,user_id,pratilipi_id,read_percent,updated_at,category_name,category_id
0,5506791964450228,1377786228203072,100.0,2022-03-18 15:14:41.771,swahindi2,41
1,5506791972010795,1377786228217647,99.0,2022-03-18 15:14:42.081,swahindi2,41
2,5506791980439899,1377786228150074,100.0,2022-03-18 15:14:42.120,suspense,40
3,5506791950653936,1377786215559645,75.0,2022-03-18 15:14:42.122,shortstories,38
4,5506791979182708,1377786218415632,100.0,2022-03-18 15:14:42.134,romance,35

pruning data
---------------------------------------

,user_id,pratilipi_id,read_percent,updated_at,category_name,category_id,count_category_id
0,5506791964450228,1377786228203072,100.0,2022-03-18 15:14:41.771,swahindi2,41,164
1,5506791987808938,1377786228203072,100.0,2022-03-18 15:16:58.895,swahindi2,41,164
2,5506791963036318,1377786228203072,100.0,2022-03-18 15:32:41.039,swahindi2,41,164
3,5506791955134775,1377786228203072,100.0,2022-03-18 15:34:10.892,swahindi2,41,164
4,5506791956839858,1377786228203072,100.0,2022-03-18 15:40:32.378,swahindi2,41,164

getting pivot table
---------------------------------------
get sparse table
---------------------------------------

,user_id,pratilipi_id,read_percent,updated_at,category_name
4156150,5506791961779211,1377786216636963,0.0,2022-03-22 02:38:14.427,romance
4156151,5506791953452095,1377786225461193,100.0,2022-03-22 02:38:14.496,suspense
4156152,5506791990323368,1377786221030540,100.0,2022-03-22 02:38:14.596,romance
4156153,5506791973044490,1377786226895089,100.0,2022-03-22 02:38:14.666,suspense
4156154,5506791973044490,1377786226936860,100.0,2022-03-22 02:38:14.830,fantasy

### Fitting the model with the sparse matrix

In [4]:
model = fit(train_sparse)

### Viewing a sample of the test data

In [6]:
test_data.head()

,user_id,pratilipi_id,read_percent,updated_at,category_name
4156150,5506791961779211,1377786216636963,0.0,2022-03-22 02:38:14.427,romance
4156151,5506791953452095,1377786225461193,100.0,2022-03-22 02:38:14.496,suspense
4156152,5506791990323368,1377786221030540,100.0,2022-03-22 02:38:14.596,romance
4156153,5506791973044490,1377786226895089,100.0,2022-03-22 02:38:14.666,suspense
4156154,5506791973044490,1377786226936860,100.0,2022-03-22 02:38:14.830,fantasy

### Predicting and evaluating the predictions on a per user basis

In [7]:
test_data = predict_and_evaluate(test_data, complete_data, metadata, train_pivot, model)

C:\Users\Aryamaan\Internship Tasks\Pratilipi\ds-assignment\pratilipi_prediction_utils.ipynb:317: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  "\n",
C:\Users\Aryamaan\Internship Tasks\Pratilipi\ds-assignment\pratilipi_prediction_utils.ipynb:318: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  "    return table_pivot, table_sparse, test_data, complete_data, metadata, user_data"

### Viewing a sample of the test data

In [8]:
test_data.head()

,user_id,pratilipi_id,read_percent,updated_at,category_name,category_match_percentage,pratilipi_match_percentage
4156150,5506791961779211,1377786216636963,0.0,2022-03-22 02:38:14.427,romance,100.0,0.0
4156151,5506791953452095,1377786225461193,100.0,2022-03-22 02:38:14.496,suspense,100.0,0.0
4156152,5506791990323368,1377786221030540,100.0,2022-03-22 02:38:14.596,romance,100.0,0.0
4156153,5506791973044490,1377786226895089,100.0,2022-03-22 02:38:14.666,suspense,100.0,50.0
4156154,5506791973044490,1377786226936860,100.0,2022-03-22 02:38:14.830,fantasy,100.0,50.0

### Finding all rows where we were able to predict something

In [10]:
test_data = test_data.loc[
    (test_data["category_match_percentage"] != 0.0)
    & (test_data["pratilipi_match_percentage"] != 0.0)
]

### Getting mean accuracies

In [14]:
(test_data['category_match_percentage']).mean()

97.304

In [15]:
(test_data['pratilipi_match_percentage']).mean()

8.869